In [4]:
import ssl
from IPython.core.display import display, HTML
import pandas as pd

ssl._create_default_https_context = ssl._create_unverified_context



dota_ds = pd.read_csv('https://stepik.org/media/attachments/course/4852/dota_hero_stats.csv')

display(dota_ds.head())

grouped_by_legs = dota_ds.groupby('legs').count()

display(grouped_by_legs)


pl_ds = pd.read_csv('https://stepik.org/media/attachments/course/4852/accountancy.csv')

display(pl_ds.head())

pl_ds[['Type','Executor','Salary']].groupby(['Type', 'Executor']).mean()


dota_unique = dota_ds[['attack_type', 'primary_attr', 'roles']].groupby(['attack_type', 'primary_attr']).nunique()

display(dota_unique)


mut_ds = pd.read_csv('http://stepik.org/media/attachments/course/4852/algae.csv')

mut_ds.head()

alanin = mut_ds[mut_ds.genus == 'Fucus'].alanin

print('%.2f %.2f %.2f' % (alanin.min(), alanin.mean(), alanin.max()))

,Unnamed: 0,attack_type,id,legs,localized_name,name,primary_attr,roles
0,0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"

      Unnamed: 0  attack_type  id  localized_name  name  primary_attr  roles
legs
0             11           11  11              11    11            11     11
2             95           95  95              95    95            95     95
4              7            7   7               7     7             7      7
6              3            3   3               3     3             3      3
8              1            1   1               1     1             1      1

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

                          attack_type  primary_attr  roles
attack_type primary_attr
Melee       agi                     1             1     19
            int                     1             1      2
            str                     1             1     31
Ranged      agi                     1             1     16
            int                     1             1     33
            str                     1             1      3

0.35 3.57 6.64