In [52]:
import pandas as pd
import ssl
from IPython.core.display import display, Math, Markdown, HTML

ssl._create_default_https_context = ssl._create_unverified_context

ds = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')
display(ds.head())


display(ds.groupby(['lunch']).count())

display(HTML('<h4>Standard Lunch</h4>'))
display(ds[ds.lunch =='standard'].describe().loc[['mean', 'std']])

display(HTML('<h4>Free/Reduced Lunch<h4>'))
display(ds[ds.lunch !='standard'].describe().loc[['mean', 'std']])

display(HTML('<h2>Query</h2>'))


writing_score_threshold = 80

ds.columns = [x.replace(' ', '_') for x in ds.columns]

display(ds.query('writing_score > @writing_score_threshold'))

score_columns = [s for s in list(ds) if 'score' in s]

display(ds[score_columns])

display(ds.filter(like= 'e'))

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

,gender,race/ethnicity,parental level of education,test preparation course,math score,reading score,writing score
lunch,,,,,,,
free/reduced,355,355,355,355,355,355,355
standard,645,645,645,645,645,645,645

      math score  reading score  writing score
mean   70.034109      71.654264      70.823256
std    13.653501      13.830602      14.339487

      math score  reading score  writing score
mean   58.921127      64.653521      63.022535
std    15.159956      14.895339      15.433823

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
6,female,group B,some college,standard,completed,88,95,92
16,male,group C,high school,standard,none,88,89,86
34,male,group E,some college,standard,none,97,87,82
...,...,...,...,...,...,...,...,...
983,female,group A,some college,standard,completed,78,87,91
984,female,group C,some high school,standard,none,74,75,82
989,female,group D,some college,free/reduced,completed,67,86,83
995,female,group E,master's degree,standard,completed,88,99,95
999,female,group D,some college,free/reduced,none,77,86,86

     math_score  reading_score  writing_score
0            72             72             74
1            69             90             88
2            90             95             93
3            47             57             44
4            76             78             75
..          ...            ...            ...
995          88             99             95
996          62             55             55
997          59             71             65
998          68             78             77
999          77             86             86

[1000 rows x 3 columns]

,gender,race/ethnicity,parental_level_of_education,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,none,72,72,74
1,female,group C,some college,completed,69,90,88
2,female,group B,master's degree,none,90,95,93
3,male,group A,associate's degree,none,47,57,44
4,male,group C,some college,none,76,78,75
...,...,...,...,...,...,...,...
995,female,group E,master's degree,completed,88,99,95
996,male,group C,high school,none,62,55,55
997,female,group C,high school,completed,59,71,65
998,female,group D,some college,completed,68,78,77
999,female,group D,some college,none,77,86,86